<!DOCTYPE html>
<html>
<head>
    <title>Rules</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;
			background-color: lightgray;
			}
        h1, h2, h3, h4, h5, h6 {
          font-family: "Playfair Display";
          letter-spacing: 5px;
        }
        ul {
            font-family: "Playfair Display";
        }
    </style>
</head>
<body>
<div class="fluid-container" style="font-size:20px">
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center"><b>User Privileges</b></h1><br>
            <h3 style="font-family: Playfair Display;"><b>The user gets to choose from one of the following options:</b></h3>
            <ul>
                <li>He gets to upload the file to the cloud in a secured manner.</li><br>
                <li>He gets to choose from the list of all the different files that are present on the cloud provided he has the required credentials for decrypting the file.</li><br>
                <li>He can also download public key associated with the user with whom the file transfer is to take place.</li><br>
                <li>To upload his file to cloud storage the user needs to be registered so that his file can be shared with the other desired person in an instant.</li><br>    
            </ul>
        </div>
        
        <div class="w3-col l6 w3-padding-large">
            <img src="../static/File_transfer.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
        </div>
    </div>
    <hr>
</body>
</html>
